* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidebar blog blog"
        "sidebar blog blog"
        "sidebar blog blog";
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 0.4fr 1.2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "perfil perfil perfil"
        "landText landText landText"
        "apresentacao apresentacao apresentacao"
        "apresentacao apresentacao apresentacao";
    grid-area: sidebar;
}

.perfil {
    grid-area: perfil;
}

.menuSidebar {
    margin: 0 auto;
    width: 90%;
    padding: 20px;
}

.navSide ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navSide a {
    text-decoration: none;
  
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-image: linear-gradient(to right, #ece9e624 0%, #ffffff24  51%, #ECE9E6  100%);
    text-align: center;
    transition: 0.8s;
    background-size: 200% auto;
    color: rgb(26, 92, 158);            
 
    display: block;
}
.navSide a:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.landText {
    grid-area: landText;
}

.apresentacao {
    grid-area: apresentacao;
}

.blog {
    grid-area: blog;
}


/* smarthphone */
@media only screen and (min-width : 300px) {

    /* Styles here */
    .sidebar {
        background-image: url(../assets/image/bgPerfil.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 10px;
        box-sizing: border-box;
        transition: 0.1s all;

    }

    .perfil {
        margin-bottom: 2remx;
        width: 13rem;

    }

    .imgPerfil {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        outline: 3px solid rgb(255, 255, 255);
        box-shadow: 0px 1px 10px black;
    }

    .landText {
        margin-bottom: 10px;
    }

    .textNome {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 1.1rem;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.138);
        border-radius: 20px;
    }

    .textoApresentacao {
        margin: 5px 0;
        color: #fff;
        font-weight: 400;
    }

    .redes,
    .iconTec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(206, 208, 53);
    }

    .redes i,
    .iconTec i {
        padding: 5px;
        font-size: 1.8em;
    }
}

@media only screen and (orientation: landscape) {
    .perfil {
        width: 8rem;
    }

    .landText {
        width: 320px;
    }

    .textNome {
        font-size: 1.5rem;
    }

    .textoApresentacao {
        margin: 5px 0;
        color: rgb(255, 255, 255);
        font-weight: 400;
    }

}

/* Tablet */
@media only screen and (min-width : 768px) {

    /* Styles here */
    .perfil {
        width: 18rem;
    }

    .landText {
        width: 320px;
    }

    .textNome {
        font-size: 2.5rem;
    }

    .textoApresentacao {
        font-size: 2rem;
        margin: 5px 0;
        color: rgb(255, 255, 255);
        font-weight: 100;
    }
}

/* desktop */
@media only screen and (min-width : 1600px) {
    /* Styles here */
}